# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/

# Environment variables
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and caches
*.log
.cache/
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
